@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$primary-color: white;
$secondary-color: black;
$padding-main: 20px;
$size: 15px;
$size-sm: 13px;
$size-lg: 36px;
$space-large: 150px;
$text-color: grey;
$breakpoint-tablet: 768px;
$breakpoint-2: 960px;

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.active {
  color: #ae4d4d;
  border-bottom: 2px solid #ae4d4d;
}

.unread {
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  .header-icon {
    max-width: 23px;
    max-height: 23px;
  }
  .header-icon:hover{
    background-color: rgb(245, 247, 247);
    border-radius: 50%;
    cursor: pointer;
  }
  .lg {
    max-width: 30px;
    max-height: 30px;
  }
  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex: 1; */
    width: 220px;
    // border: 1px solid;
    padding-left: 10px;
    img {
      margin: auto 10px;
      filter: brightness(80%);
    }
    p {
      font-size: 25px;
      color: gray;
      margin: 0;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    i {
      color: grey;
    }
  }
 

  .middle {
    flex: 5;
    position: relative;
    width: 100%;
    //display: inline-flex;
    
    #search {
      position: relative;
      background: url("../images/search-icon.png") no-repeat;
      background-size: 18px;
      background-position: left center;
      background-position-x: 10px;
      background-color: rgba(242, 245, 245, 0.8);
      margin-top: 5px;
      padding-top: 18px;
      padding-bottom: 18px;
      padding-left: 36px;
      padding-right: 18px;
      border-radius: 8px;
      border: none;
      outline: none;
      min-width: 240px;
      max-width: 600px;
      width: 100%;
    

      &:focus {
        border: none;
        background-color: transparent;
        box-shadow: 0 1px 1px 2px lightgray;
      }
    }
    .clear-search {
      position: absolute;
      top: 15px;
      right: 15%; //85px;
      font-size: 20px;
      //padding: 0 5px ;
     visibility: hidden;
    }

    .clear-search-visible{
      visibility: visible;
    
    }
    .clear-search-visible:hover{
      cursor: pointer;  
      font-size: 21px;
      transition: linear 0.2s;
    }
   

   
    .match-list{
      position: absolute;
      width: 100%;
      //height: 50px;
      z-index: 99;
      
    }
    
    em{
      color: rgb(185, 182, 182);
    }
   
    .result{
      width: 90%;
      border: 0.5px solid rgb(240, 240, 240);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      background-color: rgb(245, 247, 247);
      
      z-index: 100;
      min-width: 240px;
      max-width: 600px;
      width: 100%;

       .searchList{    
        text-decoration: none;
        color: rgb(92, 90, 90);
        font-size: 0.8em;
        padding: 5px;
        cursor: pointer;
        
      
        display: block;
        // border: 0.5px solid lightgray;
        // border-radius: 5px;;

        .fas fa-envelope{
          margin: 2px, 10px, 2px, 2px;
          padding: 0 10px;
        }
         
       .searchL {
        margin-left: 5px;
        
      }
      .searchp{
        margin: 0;
        padding-left: 18px;
      }
      
      }
      .searchList:hover{
        background-color: rgb(232, 232, 232);
        border-radius: 8px;
      }
      .searchList:not(:last-of-type){
        border-bottom: 0.5px solid rgb(240, 239, 239);
      }
    }

    
  }
 

}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 

}

/* sidebar */
.sidebar {
  width: 220px;
  // border: 1px solid red;
  padding: 10px;
  .compose {
    box-shadow: 0 0 1.5px 1.5px lightgray;
    width: 140px;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    border-radius: 50px;
    padding: 10px;
    user-select: none;
    margin-bottom: 15px;
    transition: linear 0.2s;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    &:hover {
      box-shadow: 1px 3px 5px 2px lightgray;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
  .menu {
    // border: 1px solid;
    min-height: 200px;
    overflow-y: auto;
    .left-tag {
      height: 2rem;
      padding: 5px;
      padding-left: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
      font-size: 0.875rem;
      &:hover {
        background-color: rgba(242, 245, 245, 0.8);
        border-radius: 10px;
      }
      i {
        height: 20px;
        width: 20px;
        margin-left: 5px;
        margin-right: 15px;
        padding-top: 3px;
        color: grey;
      }
    }
  }
}

/* meet */
.meet {
  margin-top: 15px;
  border-top: 2px groove lightgray;
  border-bottom: 1px solid lightgray;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  p {
    padding-left: 15px;
  }
  .left-tag {
    height: 2rem;
    padding: 5px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
      background-color: #f1f3f4;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border: none;
    }
    i {
      height: 20px;
      width: 20px;
      margin-left: 5px;
      margin-right: 15px;
      padding-top: 3px;
      color: grey;
    }
  }
}

/* hangouts */
.hangouts {
  /* border: 1px solid; */
  .hangout-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    div:first-child {
      display: flex;
      align-items: center;
    }
  }
  img {
    height: 24px;
    width: auto;
    margin-right: 5px;
    border-radius: 50%;
  }
}
.hangout-user-status {
  height: 8px;
  width: 8px;
  background-color: #35ac19;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 97.5%;
  bottom: 18.5%;
}

// Aside footer
.aside-footer {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  padding-left: 60px;
  i {
    width: 27px;
    height: 27px;
    padding: 5px;
  }
}
.aside-footer {
  i {
    color: grey;
    &:hover {
      background-color: lightgrey;
    }
  }
}

/*Compose new letter*/
.new-letter {
  position: fixed;
  z-index: 9;
  bottom: 0;
  right: 80px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
}
.new-letter-content {
  width: 600px;
  height: 460px;
  background: white;
  box-shadow: 0 0 1.5px 1.5px lightgray;
  border-radius: 5px;
  // visibility: hidden;
  display: none;
}
.new-letter-show {
  // visibility: visible;
  display: block;
}
.new-letter-header {
  background-color: #404040;
  color: white;
  border-radius: 5px;
  padding: 10px;
  i {
    float: right;
    margin-left: 10px;
  }
}
.new-letter-header {
  i {
    &:hover {
      background-color: grey;
    }
  }
}
.new-letter-details {
  .receiver {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    width: 98%;
    margin-left: 5px;
  }
  .subject {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    width: 98%;
    margin-left: 5px;
  }
}

/*Check*/
.new-letter-details {
  input {
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
  }
}
.new-letter-details {
  .receiver-cc {
    float: right;
    margin-top: 7px;
    color: darkgray;
  }
}

.new-letter-input {
  textarea {
    width: 98%;
    height: 30vh;
    margin-top: 5px;
    margin-left: 5px;
    align-content: center;
    border: none;
    outline: none;
  }
}
.new-letter-text-formatting {
  box-shadow: 0 1px 10px 0 lightgray;
  width: 95%;
  margin-left: 12px;
  padding: 5px;
  i {
    width: 22px;
    height: 22px;
    margin-left: 5px;
    padding: 5px;
    color: grey;
  }
}
.new-letter-text-formatting {
  i {
    &:hover {
      background-color: lightgrey;
    }
  }
}
.new-letter-button {
  display: flex;
  flex-wrap: nowrap;
  button {
    background-color: #1a73e8;
    color: white;
    margin-top: 15px;
    margin-left: 12px;
    padding: 8px;
    padding-right: 25px;
    border-radius: 5px;
    width: 110px;
    border: none;
  }
  .send {
    i {
      position: absolute;
      left: 95px;
      bottom: 32px;
      color: white;
    }
  }
  .formatting {
    position: absolute;
    bottom: 25px;
    left: 140px;
    i {
      margin-left: 3px;
      padding: 5px;
      color: grey;
    }
  }
}
.new-letter-button {
  .formatting {
    i {
      &:hover {
        background-color: lightgrey;
      }
    }
  }
}

// Menu more tags
.more-tag {
  padding: 5px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  visibility: hidden;
  i {
    height: 20px;
    width: 20px;
    margin-left: 8px;
    margin-right: 12px;
    padding-top: 3px;
    color: grey;
  }
}
.more-tag-show {
  visibility: visible;
}

.chat-tag {
  padding: 5px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  visibility: hidden;
  i {
    height: 20px;
    width: 20px;
    margin-left: 8px;
    margin-right: 12px;
    padding-top: 3px;
    color: grey;
  }
}
.chat-tag-show {
  visibility: visible;
}

main {
  /* border: 1px solid red; */
  position: fixed;
  
  right: 0;
  top: 83px;
  float: right;
  width: calc(100vw - 220px);
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 253, 253);
  // z-index: -1;
}
main section {
  margin-right: 20px;
}
main .page {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 0.5px solid #e0e0e0;
}
main .page .check-menu {
  color: #787878;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}
main .page .check-menu .check-box {
  position: relative;
}
main .page .check-menu .check-box input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
main .page .check-menu .check-box .fas {
  position: absolute;
  top: 3px;
  right: -15px;
}
main .page .check-menu .check-box:hover {
  background-color: #dcdcdc;
}
main .page .check-menu .refresh-menu .fas {
  padding: 0 15px;
}
main .page .pagination {
  display: flex;
  align-items: center;
  padding-right: 35px;
}
main .page .pagination .nextPrev {
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding: 0 25px;
  color: #bfbfbf;
}
main .page .pagination .nextPrev .fas {
  cursor: pointer;
}
main .page .pagination .num-of-pages {
  font-size: 12px;
}
main .page .pagination .keyboard {
  position: relative;
  color: #7f7f7f;
}
main .page .pagination .keyboard .fa-caret-down {
  position: absolute;
  top: 0;
  left: 25px;
  color: #7f7f7f;
}
main .scroll {
  overflow-y: scroll;
}
main .scroll .tabs {
  /* border: 1px solid blueviolet; */
  display: flex;
  justify-content: flex-start;
  border-bottom: 0.5px solid #e0e0e0;
  cursor: pointer;
  color: #737373;
}
main .scroll .tabs .fas {
  margin-right: 15px;
}
main .scroll .tabs .tab {
  padding: 15px 20px;
  /* border: 1px solid red; */
  width: 25%;
}
main .scroll .tabs .tab:hover {
  background-color: rgba(242, 245, 245, 0.8);
}
main .scroll .email {
  box-sizing: border-box;
  border-bottom: 1px solid #f2f5f2;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}
main .scroll .email:hover {
  box-sizing: border-box;
  box-shadow: 0 0 5px #aaa;
  border-left: 1px solid #aaa;
  padding-left: 14px;
  position: relative;
}
main .scroll .email .hover-icons {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;
  background-color: #fff;
  display: none;
  justify-content: space-between;
  align-items: center;
  color: #737373;
}
main .scroll .email .hover-icons .fas {
  padding: 10px;
  cursor: pointer;
}

main .scroll .email:hover .hover-icons {
  display: flex;
  z-index: 999;
}
main .scroll .email .email-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 200px;
  color: #737373;
  position: relative;
}
main .scroll .email .email-icons .checkbox input {
  position: absolute;
  top: 10px;
  left: 10px;
}
main .scroll .email .email-icons .starred .fa-star {
  position: absolute;
  top: 12.5px;
  left: 40px;
  font-size: 14px;
}
main .scroll .email .email-icons .email-sender-wrapper {
  text-align: left;
  width: 60%;
  color: #333;
}
main .scroll .email .email-msg {
  display: flex;
  align-items: center;
  width: 70%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main .scroll .email .email-msg .email-title {
  text-align: left;
}
main .scroll .email .email-msg .email-body {
  margin-left: 10px;
  font-weight: lighter;
}
main .scroll .email .email-msg p {
  margin: 10px 0;
}
main .scroll .email .email-date-wrapper {
  padding-left: 20px;
}

//email letter content
// .email-content-letter{
//   display: none;
// }
// .emial-opened{
//   position: absolute;
//   top:80px;
//   left: 250px;
//   i{
//     color: grey;
//   }:hover {
//     background-color: lightgrey;
//   }
// }
// .email-title-text i{
  
// }
// .email-sender{
//   position: absolute;
//   top: 100px;
//   left: 250px;
//   display: inline-block;
// }

// .main-email-content {
//   font-family: sans-serif;
//   background: lightgrey;
//   position: absolute;
//   top: 200px;
//   right: 150px;
//   width: 68%;
//   text-align: center;
//   .right-link{
//     float: right;
//     padding: 10px;
//   }
//   p{
//     font-size: 15px;
//     padding: 20px;
//   }
//   button{
//     width: 60%;
//     height: 50px;
//     text-align: center;
//     background-color: #42d4bd;
//     color: #ffffff;
//     border-radius: 50px;
//     border: none;
//     font-size: 18px;
//     font-weight: bold;
//     position: relative;
//     left: 30%;
//     transform: translateX(-50%);
//     cursor: pointer; 
//   }
// }
// .email-content-text{
//   text-align: left;
// }

// .email-content-cover{
//   background-image: url('https://www.seytech.co/images/logo.png');
//   background-size: 30%;
//   background-repeat: no-repeat;
//   width: 100%;
//   height: 250px;
//   margin-top: 30px;
//   margin-left: 350px;
// }
// .email-content{
//   background-color:#E8E8E8;
//   margin-top: 30px;
// }

// .email-content-remark{
//   color: grey;
//   font-size: 12px;
// }

// .buttons{
//   position: absolute;
//   bottom: 10px;
//   left: 350px;
// }

// main {
//   display: inline-block;
//   vertical-align: top;
//   width: 69%;

//   .categories {
//     display: flex;
//     justify-content: flex-start;
//     height: 50px;
//     div {
//       transition: 0.2s ease-in-out;
//       display: inline-block;
//       width: 100%;
//     }
//     div:hover {
//       transition: 0.2s ease-in-out;
//       background-color: #c2dbff;
//     }
//   }

//   .main-top {
//     display: flex;
//     justify-content: space-between;

//     .main-menu {
//       // visibility: hidden;
//       // display: flex;
//       //align-self: flex-start;
//     }
//     #pagination {
//       display: inline-block;
//       //align-self: flex-end;
//     }
//   }

//   #sender {
//     display: inline-block;
//     width: 200px;
//   }

//   #sender,
//   #subject {
//     font-weight: bold;
//   }
// }

// Menu more tags
// .more-tag{
//   padding: 5px;
//   padding-left: 15px;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
//   font-size: .875rem;
//   visibility: hidden;
//   i{
//     height: 20px;
//     width: 20px;
//     margin-left: 8px;
//     margin-right: 12px;
//     padding-top: 3px;
//     color:grey;
//   }
// }
// .more-tag-show{
//   visibility: visible;
// }

// .chat-tag{
//   padding: 5px;
//   padding-left: 15px;
//   display: flex;
//   align-items: center;
//   justify-content: flex-start;
//   font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
//   font-size: .875rem;
//   visibility: hidden;
//   i{
//     height: 20px;
//     width: 20px;
//     margin-left: 8px;
//     margin-right: 12px;
//     padding-top: 3px;
//     color:grey;
//   }
// }
// .chat-tag-show{
//   visibility: visible;
// }
