@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$primary-color: white;
$secondary-color: black;
$padding-main: 20px;
$size: 15px;
$size-sm: 13px;
$size-lg: 36px;
$space-large: 150px;
$text-color: grey;
$breakpoint-tablet: 768px;
$breakpoint-2: 960px;

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}
* {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-icon {
    max-width: 20px;
    max-height: 20px;
    .lg {
      max-width: 30px;
      max-height: 30px;
    }
  }
  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* flex: 1; */
    width: 220px;
    border: 1px solid;
    padding-left: 10px;
    img {
      margin: auto 10px;
      filter: brightness(80%);
    }
    p {
      font-size: 24px;
      color: gray;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    img {
      margin: 0 10px;
    }
  }
  .middle {
    flex: 5;
    input {
      background: url("../images/search-icon.png") no-repeat;
      background-size: 18px;
      background-position: left center;
      background-position-x: 10px;
      background-color: rgba(242, 245, 245, 0.8);
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 20px;
      border-radius: 8px;
      border: none;
      outline: none;
      min-width: 240px;
      max-width: 600px;
      width: 90%;
      &:focus {
        border: none;
        background-color: transparent;
        box-shadow: 0 1px 1px 2px lightgray;
      }
    }
  }
}

/* sidebar */
.sidebar {
  width: 220px;
  // border: 1px solid red;
  padding: 10px;
  .compose {
    box-shadow: 0 0 1.5px 1.5px lightgray;
    width: 140px;
    height: 50px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    border-radius: 50px;
    padding: 10px;
    user-select: none;
    margin-bottom: 15px;
    transition: linear 0.2s;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    &:hover {
      box-shadow: 1px 3px 5px 2px lightgray;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
  .menu {
    // border: 1px solid;
    min-height: 200px;
    overflow-y: auto;
    .left-tag {
      height: 2rem;
      padding: 5px;
      padding-left: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      font-size: .875rem;
      &:hover {
        background-color: rgba(242, 245, 245, 0.8);
        border-radius: 10px;
      }
      i {
        height: 20px;
        width: 20px;
        margin-left: 5px;
        margin-right: 15px;
        padding-top: 3px;
        color:grey;
      }
    }
  }
}

/* meet */
.meet {
  margin-top: 15px;
  border-top: 2px groove lightgray;
  border-bottom: 1px solid lightgray;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  p {
    padding-left: 15px;
  }
  .left-tag {
    height: 2rem;
    padding: 5px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &:hover {
      background-color: #f1f3f4;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border: none;
    }
    i {
      height: 20px;
      width: 20px;
      margin-left: 5px;
      margin-right: 15px;
      padding-top: 3px;
      color:grey;
    }
  }
}

/* hangouts */
.hangouts {
  /* border: 1px solid; */
  .hangout-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    div:first-child {
      display: flex;
      align-items: center;
    }
  }
  img {
    height: 24px;
    width: auto;
    margin-right: 5px;
    border-radius: 50%;
  }
}
.hangout-user-status{
  height: 8px;
  width: 8px;
  background-color: #35ac19;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 97.5%;
  bottom: 18%;
}

// Aside footer
.aside-footer{
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  padding-left: 60px;
  i{
    width: 27px;
    height: 27px;
    padding: 5px;
  }
}
.aside-footer {
  i{
    &:hover{
    background-color: lightgrey;
    }
  }
}


/*Compose new letter*/
.new-letter{
  position:fixed;
  bottom: 0;
  right: 80px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
}
.new-letter-content{
  width: 600px;
  height: 460px;
  background: white;
  box-shadow: 0 0 1.5px 1.5px lightgray;
  border-radius: 5px;
  visibility: hidden;
}
.new-letter-show{
  visibility: visible;
}
.new-letter-header{
  background-color: #404040;
  color: white;
  border-radius: 5px;
  padding: 10px;
  i{
    float: right;
    margin-left: 10px;
  }
}
.new-letter-header{
  i{
    &:hover{
      background-color:grey;
    }
  }
}
.new-letter-details {
  .receiver{
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    width: 98%;
    margin-left: 5px;
  }
  .subject{
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    width: 98%;
    margin-left: 5px;
  }
}
.new-letter-details{
  input{
    width: 90%;
    height: 30px;
    border:none;
    outline:none;
  }
} 
.new-letter-details{
  .receiver-cc{
    float: right;
    margin-top:7px;
    color: darkgray;
  }
} 

.new-letter-input{
   textarea{
    width: 98%;
    height: 30vh;
    margin-top: 5px;
    margin-left: 5px;
    align-content: center;
    border: none;
    outline: none;
  }
}
.new-letter-text-formatting{
  box-shadow: 0 1px 10px 0 lightgray;
  width: 95%;
  margin-left: 12px;
  padding: 5px;
  i{
    width: 22px; 
    height: 22px;
    margin-left:5px;
    padding:5px;
    color:grey;
  }
}
.new-letter-text-formatting{
  i{
    &:hover{
      background-color:lightgrey;
    }
  }
}
.new-letter-button{
  display: flex;
  flex-wrap: nowrap;
  button{
    background-color: #1a73e8;
    color: white;
    margin-top: 15px;
    margin-left: 12px;
    padding: 8px;
    padding-right: 25px;
    border-radius: 5px;
    width: 110px;
    border: none;
  }
  .send {
    i{
    position: absolute;
    left: 95px;
    bottom: 32px;
    color: white;
    }
  }
  .formatting{
    position:absolute;
    bottom:25px;
    left: 140px;
    i{
      margin-left:3px;
      padding:5px;
      color:grey;
    }
  }
}
.new-letter-button {
  .formatting{
    i{
      &:hover{
        background-color:lightgrey;
      }
    }
  }
}

// Menu more tags
.more-tag{
  padding: 5px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  visibility: hidden;
  i{
    height: 20px;
    width: 20px;
    margin-left: 8px;
    margin-right: 12px;
    padding-top: 3px;
    color:grey;   
  }
}
.more-tag-show{
  visibility: visible;
}

.chat-tag{
  padding: 5px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-size: .875rem;
  visibility: hidden;
  i{
    height: 20px;
    width: 20px;
    margin-left: 8px;
    margin-right: 12px;
    padding-top: 3px;
    color:grey;   
  }
}
.chat-tag-show{
  visibility: visible;
}
